.TableCreator {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5)
}

.TableCreator form {
  width: 1000px;
  padding: 20px;
  padding-right: 35px;
  border: 1px solid #2180CF;
  border-radius: 5px;
  background-color: white;
}

.TableCreator form input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 3px;
}

.CreateBtn button{
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #2180CF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #2180CF;
  transition-duration: 0.4s;
}

.CreateBtn button:hover {
  background-color: #2180CF;
  color: #fff;
}

.CloseBtn button{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: red;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid red;
  transition-duration: 0.4s;
}

.CloseBtn button:hover {
  background-color: red;
  color: #fff;
}

.DeleteBtn button{
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid red;
  transition-duration: 0.4s;
}

.DeleteBtn button:hover {
  background-color: white;
  color: red;
}

.TableCreator form th {
  padding: 15px;
}

.TableCreator form td {
  padding: 10px;
}